header {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    width: 100%;
    min-height: 140px;
    color: white;
    padding-top: 15px;
}

header .dark_block {
    min-height: 85px;
}

.logo_block {
    display: inline-block;
    float: left;
}

header .logo_block {
    margin: 0;
}

.logo {
    content: url("../static/pic/Logo.png");
    margin-top: 3px;
    margin-left: 4px;
}

.right {
    display: inline-block;
    float: right;
}

.top {
    float: right;
    font-size: 0.7em;
    padding-bottom: 15px;
}

.bottom {
    display: block;
    float: right;
    width: 85%;
    margin: 10px 0;
    padding-right: 0;
}

.busket {
    display: inline-block;
    float: right;
}

.menu li:not(:last-child) {
    border-right: 1px solid #ffffff;
}

.menu li {
    display: inline-block;
    padding: 0 12px;
    letter-spacing: 1.2px;
}

.menu li:last-child {
    padding-right: 0;
}

.search {
    width: 84.5%;
    float: left;
}

.search input {
    display: inline-block;
    width: 89.5%;
    height: 35px;
    padding-left: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px 0 0 5px;
    outline: none;
    background: #ffffff;
    color: #b5b5b5;
}

.search button {
    position: absolute;
    display: inline-block;
    float: right;
    width: 7.5%;
    height: 35px;
    border: none;
    background: #f10e34;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.search .busket {
    display: inline-block;
    float: right;
    width: 13%;
    margin-left: 4%;
}


.pic_block {
    height: 35px;
    width: 35px !important;
    border: 10px solid #f10e34;
    border-radius: 20px;
    background-color: #f10e34;
}

.red_block {
    margin-top: 15px;
    padding-top: 10px;
    min-height: 50px;
    background: #f10e34;
}

.dropdown {
    display: block;
    float: left;
    width: 26%;
}

.dropdown .dropdown-menu li {
     height: 40px;
 }

.dropdown:hover .dropdown-menu,
.dropdown:hover .dropdown-menu li {
    display: inline-block;
    color: #222222;
    overflow: visible;
    border-radius: 0px;
    padding: 0;
    height: auto;
    width: auto;
    margin: 0;
    background: white;
}

.dropdown:hover .dropdown-menu li {
    color: #222222;
    height: 40px;
    margin: auto 5%;
    width: 90%;
    padding: 0 ;
    background-color: white;
}



.dropdown:hover .dropdown-menu li a {
    padding: 10px 10px;
}

.dropdown:hover .dropdown-menu li a:hover i {
    margin-left: 5%;
}

.dropdown:hover .dropdown-menu i {
    color: #b5b5b5;
    margin-right: 10px;
}

.dropdown .btn-primary {
    background: none;
    border: none;
}

.dropdown:hover .btn-primary:hover {
    background: none;
    border: none;
}

.main_menu {
    font-size: 0.7em;
    margin-right: 6.7%;
}

.dropdown:hover .dropdown-menu,
.dropdown:active .dropdown-menu,
.dropdown:focus .dropdown-menu {
    display: block;
    background: white;
    color: #222222;
    overflow: visible;
    border-radius: 0px;
    padding: 0;
}

.dropdown .dropdown-menu li:hover,
.dropdown .dropdown-menu li:active {
    color: #222222;
    height: 40px;
    background-color: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.dropdown:hover .dropdown-menu i,
.dropdown:active .dropdown-menu i {
    color: #b5b5b5;
}

.dropdown .dropdown-menu li:hover,
.dropdown .dropdown-menu li:active {
    width: 100%;
}


.main_menu, .white_menu {
    display: block;
    float: right;
}

.white_menu {
    float: right;
    padding-top: 7px;
 }

@media screen and (max-width: 480px) {
    .white_menu {
        display: none;
    }
}

.white_menu li {
    display: inline-block;
    margin: auto 20px;
    font-size: 1.3em;
    letter-spacing: 0.06px;
}

.white_menu li:last-child {
    margin-right: 0;
}

.dropdown-menu .divider {
    margin: 0;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
}

.dropdown-menu:hover .divider,
.dropdown-menu:active .divider {
    margin: auto 5%;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    margin: 0;
}
